In [869]:
import glob # para mexer com vários arquivos varrendo todos com mesma extensão e transformando num grande data set
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt # mais usadas essa e a de baixo
import seaborn as sns
import warnings
import requests
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

warnings.filterwarnings('ignore')
%matplotlib inline
matplotlib.style.use('default')
plt.rcParams['figure.figsize'] = [6, 4]

#Pandas Setting
pd.options.display.float_format = '{:,.8f}'.format

In [730]:
# esse sep=';' é pq o arquivo "dados_com_data.csv" foi salvo assim. caso não seja e qnd vc lê estiver tudo separado com ";"
# é só apagar esse comando (sep=';')
# drop(['Unnamed: 0']) é para dropar/retirar essa coluna da base de dados

team_df = pd.read_csv('dados_com_data.csv', sep=';').drop(['Unnamed: 0'], axis=1).sample(frac=1).reset_index(drop=True)

In [732]:
display(team_df.head())

,Unnamed: 0,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,Div,Date
0,28949,PSV Eindhoven,Willem II,H,1.20,6.50,13.00,N1,2013-09-01
1,12711,QPR,Huddersfield,D,2.05,3.50,4.00,E1,2015-12-28
2,22484,Chelsea,Watford,D,1.44,4.50,7.50,E0,2015-12-26
3,16499,Blackburn,Nott'm Forest,D,2.35,3.25,3.40,E1,2015-09-29
4,9165,Inter,Fiorentina,H,1.66,3.80,5.50,I1,2013-09-25

In [733]:
display(team_df.shape)

(33078, 9)

In [734]:
team_df = team_df[team_df.Div == 'SP1'].sample(frac=1).reset_index(drop=True) # filtrando pela espanha (SP1)

In [735]:
team_df = team_df.loc[:500,:] # pegando só 500 partidas (501 com o 0) devido ao custo de processamento
team_df

,Unnamed: 0,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,Div,Date
0,26051,La Coruna,Levante,H,1.91,3.40,4.33,SP1,2016-03-19
1,9704,Malaga,Valencia,H,2.63,3.20,2.80,SP1,2015-02-02
2,25228,Huesca,Villarreal,D,3.50,3.20,2.14,SP1,2013-12-16
3,20462,Las Palmas,Malaga,H,2.25,3.39,3.20,SP1,2018-02-05
4,25192,Leganes,Alaves,H,2.20,3.10,3.60,SP1,2013-11-23
5,18458,Valencia,Malaga,D,1.75,3.60,5.00,SP1,2016-12-04
6,20354,Girona,Sociedad,D,2.89,3.50,2.37,SP1,2017-11-17
7,9516,Almeria,Cordoba,D,2.05,3.30,3.60,SP1,2014-09-12
8,18660,Espanol,Barcelona,A,15.00,7.50,1.18,SP1,2017-04-29
9,25831,Real Madrid,Levante,H,1.08,12.00,23.00,SP1,2015-10-17
10,16003,Celta,Sevilla,H,3.00,3.25,2.38,SP1,2014-03-29
11,25174,Valencia,Girona,A,1.50,4.00,7.50,SP1,2013-11-03
12,18436,Ath Bilbao,Villarreal,H,2.15,3.30,3.50,SP1,2016-11-20
13,18609,Ath Bilbao,Espanol,H,1.50,4.20,7.00,SP1,2017-04-04
14,25185,Girona,Leganes,D,2.04,3.20,3.75,SP1,2013-11-10
15,9732,Elche,Real Madrid,A,17.00,7.00,1.18,SP1,2015-02-22
16,15917,Ath Bilbao,Real Madrid,D,5.25,4.00,1.62,SP1,2014-02-02
17,26083,Ath Madrid,Granada,H,1.22,6.00,15.00,SP1,2016-04-17
18,16035,Sociedad,Espanol,H,1.75,3.60,4.75,SP1,2014-04-19
19,26074,Sp Gijon,Celta,A,3.10,3.25,2.30,SP1,2016-04-10
20,18573,Ath Bilbao,Malaga,H,1.75,3.60,5.00,SP1,2017-03-05
21,20251,La Coruna,Real Madrid,A,9.50,5.75,1.30,SP1,2017-08-20
22,25332,Ath Bilbao,Espanol,D,1.66,3.60,6.00,SP1,2013-03-08
23,25300,Valencia,Sociedad,D,1.83,3.50,4.50,SP1,2013-02-10
24,26035,Sp Gijon,Ath Bilbao,A,4.00,3.30,2.00,SP1,2016-03-06
25,25981,Vallecano,Las Palmas,H,1.91,3.60,4.00,SP1,2016-02-06
26,20592,Sevilla,Sociedad,H,2.10,3.79,3.10,SP1,2018-05-04
27,25966,Levante,Las Palmas,H,2.38,3.10,3.25,SP1,2016-01-25
28,26080,Eibar,Sociedad,H,2.70,3.25,2.70,SP1,2016-04-16
29,18507,Osasuna,Sevilla,A,6.00,4.33,1.53,SP1,2017-01-22
...,...,...,...,...,...,...,...,...,...
471,25379,Getafe,Ath Bilbao,H,2.30,3.00,3.50,SP1,2013-04-07
472,16073,Barcelona,Ath Madrid,D,1.85,3.80,4.50,SP1,2014-05-17
473,9571,Ath Madrid,Espanol,H,1.33,4.75,9.50,SP1,2014-10-19
474,25450,Eibar,Barcelona,D,3.60,4.00,1.90,SP1,2013-05-19
475,25202,Vallecano,Eibar,H,3.10,3.30,2.30,SP1,2013-11-30
476,25336,Getafe,Huesca,H,1.61,3.60,6.50,SP1,2013-03-09
477,25830,Eibar,Sevilla,D,3.60,3.40,2.10,SP1,2015-10-17
478,26016,Valencia,Ath Bilbao,A,2.30,3.20,3.30,SP1,2016-02-28
479,15972,Getafe,Granada,D,2.10,3.25,3.50,SP1,2014-03-14
480,15792,Vallecano,Valladolid,A,1.91,3.60,3.80,SP1,2013-10-25
481,25931,Betis,Eibar,A,2.40,3.25,3.10,SP1,2016-01-03
482,20333,Sociedad,Espanol,D,1.85,3.79,4.00,SP1,2017-10-23
483,20428,Alaves,Sevilla,H,3.25,3.25,2.29,SP1,2018-01-14
484,26082,Las Palmas,Sp Gijon,D,1.95,3.50,4.00,SP1,2016-04-16
485,18328,Celta,Leganes,A,1.65,3.75,5.75,SP1,2016-08-22
486,20279,Alaves,Villarreal,A,3.10,3.10,2.40,SP1,2017-09-17
487,9782,Getafe,La Coruna,H,2.25,3.10,3.60,SP1,2015-04-05
488,25123,Sociedad,Vallecano,D,1.61,4.00,5.50,SP1,2013-09-25
489,25960,Malaga,Barcelona,A,8.50,5.50,1.33,SP1,2016-01-23
490,25323,Espanol,Valladolid,H,1.80,3.60,4.75,SP1,2013-03-02
491,25940,Real Madrid,La Coruna,H,1.11,9.00,21.00,SP1,2016-01-09
492,25334,Ath Madrid,Leganes,H,1.45,4.20,10.00,SP1,2013-03-09
493,16038,Sevilla,Granada,H,1.40,4.50,8.00,SP1,2014-04-20
494,20295,Ath Madrid,Sevilla,H,1.57,4.00,6.50,SP1,2017-09-23
495,18529,Ath Bilbao,La Coruna,H,1.67,3.60,5.75,SP1,2017-02-11
496,25928,Espanol,Barcelona,D,14.00,7.00,1.20,SP1,2016-01-02
497,25832,Valencia,Malaga,H,1.62,3.75,6.00,SP1,2015-10-17
498,25945,Sociedad,Valencia,H,2.25,3.30,3.30,SP1,2016-01-10
499,9764,Sevilla,Elche,H,1.40,4.75,8.00,SP1,2015-03-15
500,25394,Celta,Girona,H,2.00,3.75,3.50,SP1,2013-04-20

In [736]:
team_df.Date.unique().shape

(365,)

## Usar a API para pegar o Elo Score

In [10]:
from io import StringIO
list_df = [] # lista que vai receber dataframes

# os dados recebidos vão ser colocados em um dataframe (elo_df) e o dataframe vai para uma lista de dataframes
# essa lista é a list_df, uma lista de dataframes
for data in team_df.Date.unique():
    elo_csv = requests.get(f"http://api.clubelo.com/{data}", allow_redirects=True)
    elo_csv = str(elo_csv.content,'utf-8')
    elo_csv = StringIO(elo_csv)
    elo_df = pd.read_csv(elo_csv)
    list_df.append(elo_df)

In [836]:
elo_df_final = pd.concat(list_df)

In [837]:
elo_df_final.shape

(226483, 7)

In [838]:
elo_df_final.head()

  Rank         Club Country  Level      Elo        From          To
0    1       Bayern     GER      1 2,059.37  2013-05-12  2013-05-18
1    2    Barcelona     ESP      1 2,022.98  2013-05-12  2013-05-12
2    3  Real Madrid     ESP      1 2,021.39  2013-05-12  2013-05-26
3    4     Dortmund     GER      1 1,965.97  2013-05-12  2013-05-18
4    5   Man United     ENG      1 1,906.01  2013-05-06  2013-05-12

In [839]:
elo_df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226483 entries, 0 to 615
Data columns (total 7 columns):
Rank       226483 non-null object
Club       226483 non-null object
Country    226483 non-null object
Level      226483 non-null int64
Elo        226483 non-null float64
From       226483 non-null object
To         226483 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 9.5+ MB

In [840]:
elo_df_final.drop_duplicates(inplace=True)

In [841]:
elo_df_final = elo_df_final.reset_index(drop=True)

In [842]:
display(elo_df_final)

        Rank              Club Country  Level      Elo        From          To
0          1            Bayern     GER      1 2,059.37  2013-05-12  2013-05-18
1          2         Barcelona     ESP      1 2,022.98  2013-05-12  2013-05-12
2          3       Real Madrid     ESP      1 2,021.39  2013-05-12  2013-05-26
3          4          Dortmund     GER      1 1,965.97  2013-05-12  2013-05-18
4          5        Man United     ENG      1 1,906.01  2013-05-06  2013-05-12
5          6             Porto     POR      1 1,882.41  2013-05-12  2013-05-15
6          7          Man City     ENG      1 1,869.93  2013-05-12  2013-05-14
7          8           Benfica     POR      1 1,869.83  2013-05-12  2013-05-15
8          9           Chelsea     ENG      1 1,866.30  2013-05-12  2013-05-15
9         10          Juventus     ITA      1 1,839.89  2013-05-12  2013-05-18
10        11          Atletico     ESP      1 1,836.15  2013-05-09  2013-05-12
11        12           Arsenal     ENG      1 1,829.00  2013-05-09  2013-05-12
12        13        Leverkusen     GER      1 1,825.25  2013-05-12  2013-05-12
13        14          Paris SG     FRA      1 1,824.85  2013-05-12  2013-05-12
14        15          Shakhtar     UKR      1 1,818.08  2013-05-12  2013-05-12
15        16         Tottenham     ENG      1 1,813.98  2013-05-09  2013-05-12
16        17          Valencia     ESP      1 1,803.21  2013-05-05  2013-05-12
17        18          Sociedad     ESP      1 1,786.72  2013-05-12  2013-05-12
18        19           Everton     ENG      1 1,781.59  2013-05-12  2013-05-12
19        20             Zenit     RUS      1 1,780.25  2013-05-12  2013-05-12
20        21           Schalke     GER      1 1,776.95  2013-05-12  2013-05-12
21        22             Milan     ITA      1 1,776.30  2013-05-09  2013-05-12
22        23         Liverpool     ENG      1 1,765.29  2013-05-06  2013-05-12
23        24            Malaga     ESP      1 1,757.78  2013-05-09  2013-05-12
24        25          Freiburg     GER      1 1,745.54  2013-05-12  2013-05-18
25        26          Gladbach     GER      1 1,735.24  2013-05-12  2013-05-12
26        27           Sevilla     ESP      1 1,733.24  2013-05-12  2013-05-12
27        28         Wolfsburg     GER      1 1,728.87  2013-05-12  2013-05-12
28        29            Napoli     ITA      1 1,728.71  2013-05-12  2013-05-12
29        30              Ajax     NED      1 1,727.72  2013-05-12  2013-05-12
...      ...               ...     ...    ...      ...         ...         ...
102163  None           Alkmaar     NED      1 1,516.43  2018-02-05  2018-02-07
102164  None           Lorient     FRA      2 1,497.53  2018-02-04  2018-02-09
102165  None           Utrecht     NED      1 1,485.13  2018-02-05  2018-02-07
102166  None         Kasimpasa     TUR      1 1,464.19  2018-02-05  2018-02-09
102167  None          Millwall     ENG      2 1,441.82  2018-02-04  2018-02-09
102168  None         Darmstadt     GER      2 1,441.43  2018-02-05  2018-02-09
102169  None          Holstein     GER      2 1,435.00  2018-02-04  2018-02-09
102170  None     Zulte Waregem     BEL      1 1,434.17  2018-02-05  2018-02-09
102171  None       Malatyaspor     TUR      1 1,424.94  2018-02-04  2018-02-09
102172  None    Pacos Ferreira     POR      1 1,415.20  2018-02-05  2018-02-09
102173  None            Zwolle     NED      1 1,406.51  2018-02-04  2018-02-06
102174  None            Bochum     GER      2 1,392.21  2018-02-05  2018-02-09
102175  None        Heerenveen     NED      1 1,389.96  2018-02-04  2018-02-06
102176  None           Tondela     POR      1 1,381.77  2018-02-05  2018-02-09
102177  None          Den Haag     NED      1 1,378.04  2018-02-04  2018-02-08
102178  None          Heracles     NED      1 1,376.33  2018-02-04  2018-02-07
102179  None           Lautern     GER      2 1,367.09  2018-02-05  2018-02-09
102180  None            Twente     NED      1 1,345.63  2018-02-04  2018-02-07
102181  None         Excelsior     NED      1 1,341.43  2018-02-05  2018-02-07
102182  None             Venlo     NED      1 1,340.53  2018-02-05  2018-02-07
102183  None         Voluntari     ROM      1 1,336.25  2018-02-04  2018-02-09
102184  None           Rangers     SCO      1 1,319.45  2018-02-04  2018-02-06
102185  None         Willem II     NED      1 1,316.39  2018-02-05  2018-02-07
102186  None         Gaz Metan     ROM      1 1,315.14  2018-02-04  2018-02-09
102187  None              Roda     NED      1 1,292.93  2018-02-05  2018-02-07
102188  None             Breda     NED      1 1,276.82  2018-02-05  2018-02-07
102189  None  Sparta Rotterdam     NED      1 1,258.11  2018-02-05  2018-02-07
102190  None      St Johnstone     SCO      1 1,211.00  2018-02-04  2018-02-06
102191  None        Motherwell     SCO      1 1,182.11  2018-02-04  2018-02-06
102192  None           Partick     SCO      1 1,180.52  2018-02-04  2018-02-06

[102193 rows x 7 columns]

In [843]:
elo_df_final.to_csv('dados_api.csv')

In [844]:
# para filtrar data tbm pode ser feito (usando "exemplo_df" nesse exemplo mas pode ser qlqr nome de dataframe)
# da seguinte forma: (exemplo_df['Date'] >= '2017-01-01') & (exemplo_df['Date'] <= '2018-03-31') 
# tem que colocar a data entre aspas (''). assim filtramos de 1o de janeiro de 2017 à 31 de março de 2018
# já para atributos numéricos lembrar de não colocar aspas. No caso da data apesar de poder trabalhar com >= e <=
# a data não é um valor numérico

exemplo_df = pd.read_csv('dados_com_data.csv', sep=';')
exemplo_df[(exemplo_df['HomeTeam'] == 'Betis') & (exemplo_df['Date'] == '2017-02-25')]

       Unnamed: 0 HomeTeam AwayTeam FTR  B365H  B365D  B365A  Div        Date
18550       18550    Betis  Sevilla   A   3.80   3.40   2.05  SP1  2017-02-25

In [845]:
elo_df_final

        Rank              Club Country  Level      Elo        From          To
0          1            Bayern     GER      1 2,059.37  2013-05-12  2013-05-18
1          2         Barcelona     ESP      1 2,022.98  2013-05-12  2013-05-12
2          3       Real Madrid     ESP      1 2,021.39  2013-05-12  2013-05-26
3          4          Dortmund     GER      1 1,965.97  2013-05-12  2013-05-18
4          5        Man United     ENG      1 1,906.01  2013-05-06  2013-05-12
5          6             Porto     POR      1 1,882.41  2013-05-12  2013-05-15
6          7          Man City     ENG      1 1,869.93  2013-05-12  2013-05-14
7          8           Benfica     POR      1 1,869.83  2013-05-12  2013-05-15
8          9           Chelsea     ENG      1 1,866.30  2013-05-12  2013-05-15
9         10          Juventus     ITA      1 1,839.89  2013-05-12  2013-05-18
10        11          Atletico     ESP      1 1,836.15  2013-05-09  2013-05-12
11        12           Arsenal     ENG      1 1,829.00  2013-05-09  2013-05-12
12        13        Leverkusen     GER      1 1,825.25  2013-05-12  2013-05-12
13        14          Paris SG     FRA      1 1,824.85  2013-05-12  2013-05-12
14        15          Shakhtar     UKR      1 1,818.08  2013-05-12  2013-05-12
15        16         Tottenham     ENG      1 1,813.98  2013-05-09  2013-05-12
16        17          Valencia     ESP      1 1,803.21  2013-05-05  2013-05-12
17        18          Sociedad     ESP      1 1,786.72  2013-05-12  2013-05-12
18        19           Everton     ENG      1 1,781.59  2013-05-12  2013-05-12
19        20             Zenit     RUS      1 1,780.25  2013-05-12  2013-05-12
20        21           Schalke     GER      1 1,776.95  2013-05-12  2013-05-12
21        22             Milan     ITA      1 1,776.30  2013-05-09  2013-05-12
22        23         Liverpool     ENG      1 1,765.29  2013-05-06  2013-05-12
23        24            Malaga     ESP      1 1,757.78  2013-05-09  2013-05-12
24        25          Freiburg     GER      1 1,745.54  2013-05-12  2013-05-18
25        26          Gladbach     GER      1 1,735.24  2013-05-12  2013-05-12
26        27           Sevilla     ESP      1 1,733.24  2013-05-12  2013-05-12
27        28         Wolfsburg     GER      1 1,728.87  2013-05-12  2013-05-12
28        29            Napoli     ITA      1 1,728.71  2013-05-12  2013-05-12
29        30              Ajax     NED      1 1,727.72  2013-05-12  2013-05-12
...      ...               ...     ...    ...      ...         ...         ...
102163  None           Alkmaar     NED      1 1,516.43  2018-02-05  2018-02-07
102164  None           Lorient     FRA      2 1,497.53  2018-02-04  2018-02-09
102165  None           Utrecht     NED      1 1,485.13  2018-02-05  2018-02-07
102166  None         Kasimpasa     TUR      1 1,464.19  2018-02-05  2018-02-09
102167  None          Millwall     ENG      2 1,441.82  2018-02-04  2018-02-09
102168  None         Darmstadt     GER      2 1,441.43  2018-02-05  2018-02-09
102169  None          Holstein     GER      2 1,435.00  2018-02-04  2018-02-09
102170  None     Zulte Waregem     BEL      1 1,434.17  2018-02-05  2018-02-09
102171  None       Malatyaspor     TUR      1 1,424.94  2018-02-04  2018-02-09
102172  None    Pacos Ferreira     POR      1 1,415.20  2018-02-05  2018-02-09
102173  None            Zwolle     NED      1 1,406.51  2018-02-04  2018-02-06
102174  None            Bochum     GER      2 1,392.21  2018-02-05  2018-02-09
102175  None        Heerenveen     NED      1 1,389.96  2018-02-04  2018-02-06
102176  None           Tondela     POR      1 1,381.77  2018-02-05  2018-02-09
102177  None          Den Haag     NED      1 1,378.04  2018-02-04  2018-02-08
102178  None          Heracles     NED      1 1,376.33  2018-02-04  2018-02-07
102179  None           Lautern     GER      2 1,367.09  2018-02-05  2018-02-09
102180  None            Twente     NED      1 1,345.63  2018-02-04  2018-02-07
102181  None         Excelsior     NED      1 1,341.43  2018-02-05  2018-02-07
102182  None             Venlo     NED      1 1,340.53  2018-02-05  2018-02-07
102183  None         Voluntari     ROM      1 1,336.25  2018-02-04  2018-02-09
102184  None           Rangers     SCO      1 1,319.45  2018-02-04  2018-02-06
102185  None         Willem II     NED      1 1,316.39  2018-02-05  2018-02-07
102186  None         Gaz Metan     ROM      1 1,315.14  2018-02-04  2018-02-09
102187  None              Roda     NED      1 1,292.93  2018-02-05  2018-02-07
102188  None             Breda     NED      1 1,276.82  2018-02-05  2018-02-07
102189  None  Sparta Rotterdam     NED      1 1,258.11  2018-02-05  2018-02-07
102190  None      St Johnstone     SCO      1 1,211.00  2018-02-04  2018-02-06
102191  None        Motherwell     SCO      1 1,182.11  2018-02-04  2018-02-06
102192  None           Partick     SCO      1 1,180.52  2018-02-04  2018-02-06

[102193 rows x 7 columns]

In [846]:
elo_df_final.loc[0,'Elo'] # só um teste de sitaxe

2059.3684082

In [847]:
elo_df_final.describe() # exibindo valores numéricos só pra teste. aqui vemos que o "Elo" é um valor numérico
                        # apenas sua visualização no pandas que mostra vírgula

           Level        Elo
count 102,193.00 102,193.00
mean        1.20   1,494.86
std         0.44     169.00
min         0.00     683.71
25%         1.00   1,377.07
50%         1.00   1,482.06
75%         1.00   1,617.13
max         2.00   2,103.60

In [848]:
# garantindo que todos os valores de Elo sejam float

elo_df_final['Elo'] = elo_df_final['Elo'].astype(float)

In [849]:
display(team_df.head())

,Unnamed: 0,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,Div,Date
0,26051,La Coruna,Levante,H,1.91,3.40,4.33,SP1,2016-03-19
1,9704,Malaga,Valencia,H,2.63,3.20,2.80,SP1,2015-02-02
2,25228,Huesca,Villarreal,D,3.50,3.20,2.14,SP1,2013-12-16
3,20462,Las Palmas,Malaga,H,2.25,3.39,3.20,SP1,2018-02-05
4,25192,Leganes,Alaves,H,2.20,3.10,3.60,SP1,2013-11-23

In [850]:
elo_df_final.head()

  Rank         Club Country  Level      Elo        From          To
0    1       Bayern     GER      1 2,059.37  2013-05-12  2013-05-18
1    2    Barcelona     ESP      1 2,022.98  2013-05-12  2013-05-12
2    3  Real Madrid     ESP      1 2,021.39  2013-05-12  2013-05-26
3    4     Dortmund     GER      1 1,965.97  2013-05-12  2013-05-18
4    5   Man United     ENG      1 1,906.01  2013-05-06  2013-05-12

In [851]:
elo_df_esp = elo_df_final[elo_df_final['Country'] == 'ESP'].reset_index(drop=True)

In [852]:
elo_df_esp

       Rank            Club Country  Level      Elo        From          To
0         2       Barcelona     ESP      1 2,022.98  2013-05-12  2013-05-12
1         3     Real Madrid     ESP      1 2,021.39  2013-05-12  2013-05-26
2        11        Atletico     ESP      1 1,836.15  2013-05-09  2013-05-12
3        17        Valencia     ESP      1 1,803.21  2013-05-05  2013-05-12
4        18        Sociedad     ESP      1 1,786.72  2013-05-12  2013-05-12
5        24          Malaga     ESP      1 1,757.78  2013-05-09  2013-05-12
6        27         Sevilla     ESP      1 1,733.24  2013-05-12  2013-05-12
7        31           Betis     ESP      1 1,724.89  2013-05-12  2013-05-12
8        36        Espanyol     ESP      1 1,714.05  2013-05-12  2013-05-12
9        45          Getafe     ESP      1 1,698.96  2013-05-12  2013-05-18
10       51         Osasuna     ESP      1 1,685.73  2013-05-12  2013-05-12
11       52      Valladolid     ESP      1 1,685.60  2013-05-12  2013-05-12
12       56          Bilbao     ESP      1 1,680.13  2013-05-12  2013-05-12
13       60         Levante     ESP      1 1,674.08  2013-05-12  2013-05-16
14       66           Depor     ESP      1 1,668.28  2013-05-12  2013-05-12
15       69  Rayo Vallecano     ESP      1 1,664.22  2013-05-12  2013-05-12
16       72        Zaragoza     ESP      1 1,656.52  2013-05-12  2013-05-12
17       77      Villarreal     ESP      2 1,649.04  2013-05-12  2013-05-12
18       88         Granada     ESP      1 1,633.53  2013-05-12  2013-05-13
19       89        Mallorca     ESP      1 1,632.65  2013-05-12  2013-05-18
20       90           Celta     ESP      1 1,632.15  2013-05-11  2013-05-12
21       96           Elche     ESP      2 1,619.13  2013-05-11  2013-05-12
22      100         Almeria     ESP      2 1,610.62  2013-05-12  2013-05-12
23     None        Alcorcon     ESP      2 1,604.32  2013-05-05  2013-05-12
24     None           Gijon     ESP      2 1,591.65  2013-05-12  2013-05-18
25     None          Girona     ESP      2 1,587.98  2013-05-12  2013-05-18
26     None      Las Palmas     ESP      2 1,585.37  2013-05-12  2013-05-18
27     None     Barcelona B     ESP      2 1,573.90  2013-05-11  2013-05-18
28     None        Hercules     ESP      2 1,554.63  2013-05-06  2013-05-13
29     None    Ponferradina     ESP      2 1,551.63  2013-05-12  2013-05-18
...     ...             ...     ...    ...      ...         ...         ...
10679    30           Celta     ESP      1 1,733.58  2016-11-27  2016-11-27
10680    46        Valencia     ESP      1 1,696.06  2016-11-27  2016-11-27
10681    48        Espanyol     ESP      1 1,693.21  2016-11-27  2016-11-27
10682    50      Las Palmas     ESP      1 1,691.03  2016-11-27  2016-11-27
10683    58           Eibar     ESP      1 1,679.67  2016-11-26  2016-11-30
10684    59           Betis     ESP      1 1,672.65  2016-11-26  2016-11-27
10685    72         Levante     ESP      2 1,646.49  2016-11-27  2016-11-27
10686    73           Depor     ESP      1 1,644.20  2016-11-27  2016-11-27
10687    76           Gijon     ESP      1 1,641.52  2016-11-27  2016-11-28
10688    83          Girona     ESP      2 1,629.19  2016-11-26  2016-11-27
10689    88         Granada     ESP      1 1,619.36  2016-11-25  2016-11-27
10690    91          Alaves     ESP      1 1,616.76  2016-11-27  2016-11-27
10691    92         Leganes     ESP      1 1,615.30  2016-11-27  2016-12-02
10692   100  Rayo Vallecano     ESP      2 1,602.56  2016-11-25  2016-11-27
10693  None          Getafe     ESP      2 1,601.73  2016-11-25  2016-11-27
10694  None         Osasuna     ESP      1 1,582.62  2016-11-25  2016-11-27
10695  None           Elche     ESP      2 1,560.44  2016-11-25  2016-11-27
10696  None          Huesca     ESP      2 1,555.61  2016-11-25  2016-11-27
10697  None         Cordoba     ESP      2 1,540.68  2016-11-25  2016-11-27
10698  None        Mallorca     ESP      2 1,532.64  2016-11-25  2016-11-27
10699  None       Sevilla B     ESP      2 1,524.87  2016-11-25  2016-11-27
10700  None        Mirandes     ESP      2 1,490.12  2016-11-25  2016-11-27
10701    19        Valencia     ESP      1 1,755.43  2018-02-05  2018-02-05
10702    26          Bilbao     ESP      1 1,739.13  2018-02-05  2018-02-09
10703    47        Espanyol     ESP      1 1,683.18  2018-02-05  2018-02-07
10704    63           Betis     ESP      1 1,657.06  2018-02-05  2018-02-09
10705    71         Levante     ESP      1 1,631.60  2018-02-05  2018-02-05
10706    77          Malaga     ESP      1 1,624.73  2018-02-04  2018-02-05
10707  None         Granada     ESP      2 1,553.02  2018-02-04  2018-02-09
10708  None      Valladolid     ESP      2 1,548.07  2018-02-04  2018-02-09

[10709 rows x 7 columns]

In [853]:
copy_team_df = team_df.copy() # para não trabalhar diretamente com o dataframe team_df
copy_team_df = copy_team_df.reset_index(drop=True)

In [854]:
copy_team_df

,Unnamed: 0,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,Div,Date
0,26051,La Coruna,Levante,H,1.91,3.40,4.33,SP1,2016-03-19
1,9704,Malaga,Valencia,H,2.63,3.20,2.80,SP1,2015-02-02
2,25228,Huesca,Villarreal,D,3.50,3.20,2.14,SP1,2013-12-16
3,20462,Las Palmas,Malaga,H,2.25,3.39,3.20,SP1,2018-02-05
4,25192,Leganes,Alaves,H,2.20,3.10,3.60,SP1,2013-11-23
5,18458,Valencia,Malaga,D,1.75,3.60,5.00,SP1,2016-12-04
6,20354,Girona,Sociedad,D,2.89,3.50,2.37,SP1,2017-11-17
7,9516,Almeria,Cordoba,D,2.05,3.30,3.60,SP1,2014-09-12
8,18660,Espanol,Barcelona,A,15.00,7.50,1.18,SP1,2017-04-29
9,25831,Real Madrid,Levante,H,1.08,12.00,23.00,SP1,2015-10-17
10,16003,Celta,Sevilla,H,3.00,3.25,2.38,SP1,2014-03-29
11,25174,Valencia,Girona,A,1.50,4.00,7.50,SP1,2013-11-03
12,18436,Ath Bilbao,Villarreal,H,2.15,3.30,3.50,SP1,2016-11-20
13,18609,Ath Bilbao,Espanol,H,1.50,4.20,7.00,SP1,2017-04-04
14,25185,Girona,Leganes,D,2.04,3.20,3.75,SP1,2013-11-10
15,9732,Elche,Real Madrid,A,17.00,7.00,1.18,SP1,2015-02-22
16,15917,Ath Bilbao,Real Madrid,D,5.25,4.00,1.62,SP1,2014-02-02
17,26083,Ath Madrid,Granada,H,1.22,6.00,15.00,SP1,2016-04-17
18,16035,Sociedad,Espanol,H,1.75,3.60,4.75,SP1,2014-04-19
19,26074,Sp Gijon,Celta,A,3.10,3.25,2.30,SP1,2016-04-10
20,18573,Ath Bilbao,Malaga,H,1.75,3.60,5.00,SP1,2017-03-05
21,20251,La Coruna,Real Madrid,A,9.50,5.75,1.30,SP1,2017-08-20
22,25332,Ath Bilbao,Espanol,D,1.66,3.60,6.00,SP1,2013-03-08
23,25300,Valencia,Sociedad,D,1.83,3.50,4.50,SP1,2013-02-10
24,26035,Sp Gijon,Ath Bilbao,A,4.00,3.30,2.00,SP1,2016-03-06
25,25981,Vallecano,Las Palmas,H,1.91,3.60,4.00,SP1,2016-02-06
26,20592,Sevilla,Sociedad,H,2.10,3.79,3.10,SP1,2018-05-04
27,25966,Levante,Las Palmas,H,2.38,3.10,3.25,SP1,2016-01-25
28,26080,Eibar,Sociedad,H,2.70,3.25,2.70,SP1,2016-04-16
29,18507,Osasuna,Sevilla,A,6.00,4.33,1.53,SP1,2017-01-22
...,...,...,...,...,...,...,...,...,...
471,25379,Getafe,Ath Bilbao,H,2.30,3.00,3.50,SP1,2013-04-07
472,16073,Barcelona,Ath Madrid,D,1.85,3.80,4.50,SP1,2014-05-17
473,9571,Ath Madrid,Espanol,H,1.33,4.75,9.50,SP1,2014-10-19
474,25450,Eibar,Barcelona,D,3.60,4.00,1.90,SP1,2013-05-19
475,25202,Vallecano,Eibar,H,3.10,3.30,2.30,SP1,2013-11-30
476,25336,Getafe,Huesca,H,1.61,3.60,6.50,SP1,2013-03-09
477,25830,Eibar,Sevilla,D,3.60,3.40,2.10,SP1,2015-10-17
478,26016,Valencia,Ath Bilbao,A,2.30,3.20,3.30,SP1,2016-02-28
479,15972,Getafe,Granada,D,2.10,3.25,3.50,SP1,2014-03-14
480,15792,Vallecano,Valladolid,A,1.91,3.60,3.80,SP1,2013-10-25
481,25931,Betis,Eibar,A,2.40,3.25,3.10,SP1,2016-01-03
482,20333,Sociedad,Espanol,D,1.85,3.79,4.00,SP1,2017-10-23
483,20428,Alaves,Sevilla,H,3.25,3.25,2.29,SP1,2018-01-14
484,26082,Las Palmas,Sp Gijon,D,1.95,3.50,4.00,SP1,2016-04-16
485,18328,Celta,Leganes,A,1.65,3.75,5.75,SP1,2016-08-22
486,20279,Alaves,Villarreal,A,3.10,3.10,2.40,SP1,2017-09-17
487,9782,Getafe,La Coruna,H,2.25,3.10,3.60,SP1,2015-04-05
488,25123,Sociedad,Vallecano,D,1.61,4.00,5.50,SP1,2013-09-25
489,25960,Malaga,Barcelona,A,8.50,5.50,1.33,SP1,2016-01-23
490,25323,Espanol,Valladolid,H,1.80,3.60,4.75,SP1,2013-03-02
491,25940,Real Madrid,La Coruna,H,1.11,9.00,21.00,SP1,2016-01-09
492,25334,Ath Madrid,Leganes,H,1.45,4.20,10.00,SP1,2013-03-09
493,16038,Sevilla,Granada,H,1.40,4.50,8.00,SP1,2014-04-20
494,20295,Ath Madrid,Sevilla,H,1.57,4.00,6.50,SP1,2017-09-23
495,18529,Ath Bilbao,La Coruna,H,1.67,3.60,5.75,SP1,2017-02-11
496,25928,Espanol,Barcelona,D,14.00,7.00,1.20,SP1,2016-01-02
497,25832,Valencia,Malaga,H,1.62,3.75,6.00,SP1,2015-10-17
498,25945,Sociedad,Valencia,H,2.25,3.30,3.30,SP1,2016-01-10
499,9764,Sevilla,Elche,H,1.40,4.75,8.00,SP1,2015-03-15
500,25394,Celta,Girona,H,2.00,3.75,3.50,SP1,2013-04-20

In [855]:
copy_team_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 9 columns):
Unnamed: 0    501 non-null int64
HomeTeam      501 non-null object
AwayTeam      501 non-null object
FTR           501 non-null object
B365H         501 non-null float64
B365D         501 non-null float64
B365A         501 non-null float64
Div           501 non-null object
Date          501 non-null object
dtypes: float64(3), int64(1), object(5)
memory usage: 25.5+ KB

In [856]:
copy_team_df.dropna(inplace=True)
display(copy_team_df)

,Unnamed: 0,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,Div,Date
0,26051,La Coruna,Levante,H,1.91,3.40,4.33,SP1,2016-03-19
1,9704,Malaga,Valencia,H,2.63,3.20,2.80,SP1,2015-02-02
2,25228,Huesca,Villarreal,D,3.50,3.20,2.14,SP1,2013-12-16
3,20462,Las Palmas,Malaga,H,2.25,3.39,3.20,SP1,2018-02-05
4,25192,Leganes,Alaves,H,2.20,3.10,3.60,SP1,2013-11-23
5,18458,Valencia,Malaga,D,1.75,3.60,5.00,SP1,2016-12-04
6,20354,Girona,Sociedad,D,2.89,3.50,2.37,SP1,2017-11-17
7,9516,Almeria,Cordoba,D,2.05,3.30,3.60,SP1,2014-09-12
8,18660,Espanol,Barcelona,A,15.00,7.50,1.18,SP1,2017-04-29
9,25831,Real Madrid,Levante,H,1.08,12.00,23.00,SP1,2015-10-17
10,16003,Celta,Sevilla,H,3.00,3.25,2.38,SP1,2014-03-29
11,25174,Valencia,Girona,A,1.50,4.00,7.50,SP1,2013-11-03
12,18436,Ath Bilbao,Villarreal,H,2.15,3.30,3.50,SP1,2016-11-20
13,18609,Ath Bilbao,Espanol,H,1.50,4.20,7.00,SP1,2017-04-04
14,25185,Girona,Leganes,D,2.04,3.20,3.75,SP1,2013-11-10
15,9732,Elche,Real Madrid,A,17.00,7.00,1.18,SP1,2015-02-22
16,15917,Ath Bilbao,Real Madrid,D,5.25,4.00,1.62,SP1,2014-02-02
17,26083,Ath Madrid,Granada,H,1.22,6.00,15.00,SP1,2016-04-17
18,16035,Sociedad,Espanol,H,1.75,3.60,4.75,SP1,2014-04-19
19,26074,Sp Gijon,Celta,A,3.10,3.25,2.30,SP1,2016-04-10
20,18573,Ath Bilbao,Malaga,H,1.75,3.60,5.00,SP1,2017-03-05
21,20251,La Coruna,Real Madrid,A,9.50,5.75,1.30,SP1,2017-08-20
22,25332,Ath Bilbao,Espanol,D,1.66,3.60,6.00,SP1,2013-03-08
23,25300,Valencia,Sociedad,D,1.83,3.50,4.50,SP1,2013-02-10
24,26035,Sp Gijon,Ath Bilbao,A,4.00,3.30,2.00,SP1,2016-03-06
25,25981,Vallecano,Las Palmas,H,1.91,3.60,4.00,SP1,2016-02-06
26,20592,Sevilla,Sociedad,H,2.10,3.79,3.10,SP1,2018-05-04
27,25966,Levante,Las Palmas,H,2.38,3.10,3.25,SP1,2016-01-25
28,26080,Eibar,Sociedad,H,2.70,3.25,2.70,SP1,2016-04-16
29,18507,Osasuna,Sevilla,A,6.00,4.33,1.53,SP1,2017-01-22
...,...,...,...,...,...,...,...,...,...
471,25379,Getafe,Ath Bilbao,H,2.30,3.00,3.50,SP1,2013-04-07
472,16073,Barcelona,Ath Madrid,D,1.85,3.80,4.50,SP1,2014-05-17
473,9571,Ath Madrid,Espanol,H,1.33,4.75,9.50,SP1,2014-10-19
474,25450,Eibar,Barcelona,D,3.60,4.00,1.90,SP1,2013-05-19
475,25202,Vallecano,Eibar,H,3.10,3.30,2.30,SP1,2013-11-30
476,25336,Getafe,Huesca,H,1.61,3.60,6.50,SP1,2013-03-09
477,25830,Eibar,Sevilla,D,3.60,3.40,2.10,SP1,2015-10-17
478,26016,Valencia,Ath Bilbao,A,2.30,3.20,3.30,SP1,2016-02-28
479,15972,Getafe,Granada,D,2.10,3.25,3.50,SP1,2014-03-14
480,15792,Vallecano,Valladolid,A,1.91,3.60,3.80,SP1,2013-10-25
481,25931,Betis,Eibar,A,2.40,3.25,3.10,SP1,2016-01-03
482,20333,Sociedad,Espanol,D,1.85,3.79,4.00,SP1,2017-10-23
483,20428,Alaves,Sevilla,H,3.25,3.25,2.29,SP1,2018-01-14
484,26082,Las Palmas,Sp Gijon,D,1.95,3.50,4.00,SP1,2016-04-16
485,18328,Celta,Leganes,A,1.65,3.75,5.75,SP1,2016-08-22
486,20279,Alaves,Villarreal,A,3.10,3.10,2.40,SP1,2017-09-17
487,9782,Getafe,La Coruna,H,2.25,3.10,3.60,SP1,2015-04-05
488,25123,Sociedad,Vallecano,D,1.61,4.00,5.50,SP1,2013-09-25
489,25960,Malaga,Barcelona,A,8.50,5.50,1.33,SP1,2016-01-23
490,25323,Espanol,Valladolid,H,1.80,3.60,4.75,SP1,2013-03-02
491,25940,Real Madrid,La Coruna,H,1.11,9.00,21.00,SP1,2016-01-09
492,25334,Ath Madrid,Leganes,H,1.45,4.20,10.00,SP1,2013-03-09
493,16038,Sevilla,Granada,H,1.40,4.50,8.00,SP1,2014-04-20
494,20295,Ath Madrid,Sevilla,H,1.57,4.00,6.50,SP1,2017-09-23
495,18529,Ath Bilbao,La Coruna,H,1.67,3.60,5.75,SP1,2017-02-11
496,25928,Espanol,Barcelona,D,14.00,7.00,1.20,SP1,2016-01-02
497,25832,Valencia,Malaga,H,1.62,3.75,6.00,SP1,2015-10-17
498,25945,Sociedad,Valencia,H,2.25,3.30,3.30,SP1,2016-01-10
499,9764,Sevilla,Elche,H,1.40,4.75,8.00,SP1,2015-03-15
500,25394,Celta,Girona,H,2.00,3.75,3.50,SP1,2013-04-20

In [857]:
lista_times = ['Atlético Minas Gerais', 'Cruzeiro', 'Palmeiras', 'Atlético Goiás']
process.extract('Atlético-MG', lista_times)

[('Atlético Minas Gerais', 86),
 ('Atlético Goiás', 82),
 ('Palmeiras', 32),
 ('Cruzeiro', 22)]

In [858]:
teste = process.extract('Atlético-MG', lista_times)
print(teste[0][0]) # a 1a posição é a 1a tupla que corresponde ao nome de maior pontuação
                   # a 2a é o valor da tupla com o nome do time enquanto a outra é a pontuação

Atlético Minas Gerais

## Criando colunas com Elo Score do mandante e do visitante

In [859]:
for key,row in copy_team_df.iterrows():
    
    # substitui o nome "Ath Madrid" do meu df "copy_team_df" por Atletico para ficar como está 
    # no df "elo_df_esp"
    if row['HomeTeam'] == 'Ath Madrid':
        copy_team_df.loc[key,'HomeTeam'] = 'Atletico'
        
    # elimina "La Coruna" do df "copy_team_df" para ficar como está no df "elo_df_esp"
    # lá não tem o La Coruna nem com outro nome
    if row['HomeTeam'] == 'La Coruna':
        copy_team_df.drop(key, inplace=True) # eliminando o La Coruna de copy_team_df
        
    choices = list(elo_df_esp.Club.unique())
    team = process.extract(row['HomeTeam'], choices, limit=2)[0][0] # o célula anterior exemplifica esse "[0][0]"
    team_elo = elo_df_esp[(elo_df_esp['Club'] == team) & ((elo_df_esp['To'] == row['Date']) | (elo_df_esp['From'] == row['Date']))]
    if not team_elo.empty:
        copy_team_df.loc[key,'home_elo'] = team_elo.values[0][4]

In [860]:
copy_team_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 493 entries, 1 to 370
Data columns (total 10 columns):
Unnamed: 0    486 non-null float64
HomeTeam      486 non-null object
AwayTeam      486 non-null object
FTR           486 non-null object
B365H         486 non-null float64
B365D         486 non-null float64
B365A         486 non-null float64
Div           486 non-null object
Date          486 non-null object
home_elo      341 non-null float64
dtypes: float64(5), object(5)
memory usage: 48.7+ KB

In [861]:
copy_team_df

,Unnamed: 0,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,Div,Date,home_elo
1,"9,704.00",Malaga,Valencia,H,2.63,3.20,2.80,SP1,2015-02-02,"1,758.67"
2,"25,228.00",Huesca,Villarreal,D,3.50,3.20,2.14,SP1,2013-12-16,nan
3,"20,462.00",Las Palmas,Malaga,H,2.25,3.39,3.20,SP1,2018-02-05,"1,562.04"
4,"25,192.00",Leganes,Alaves,H,2.20,3.10,3.60,SP1,2013-11-23,nan
5,"18,458.00",Valencia,Malaga,D,1.75,3.60,5.00,SP1,2016-12-04,"1,696.06"
6,"20,354.00",Girona,Sociedad,D,2.89,3.50,2.37,SP1,2017-11-17,nan
7,"9,516.00",Almeria,Cordoba,D,2.05,3.30,3.60,SP1,2014-09-12,nan
8,"18,660.00",Espanol,Barcelona,A,15.00,7.50,1.18,SP1,2017-04-29,"1,723.53"
9,"25,831.00",Real Madrid,Levante,H,1.08,12.00,23.00,SP1,2015-10-17,"2,050.75"
10,"16,003.00",Celta,Sevilla,H,3.00,3.25,2.38,SP1,2014-03-29,"1,675.47"
11,"25,174.00",Valencia,Girona,A,1.50,4.00,7.50,SP1,2013-11-03,"1,769.35"
12,"18,436.00",Ath Bilbao,Villarreal,H,2.15,3.30,3.50,SP1,2016-11-20,"1,788.68"
13,"18,609.00",Ath Bilbao,Espanol,H,1.50,4.20,7.00,SP1,2017-04-04,nan
14,"25,185.00",Girona,Leganes,D,2.04,3.20,3.75,SP1,2013-11-10,"1,561.05"
15,"9,732.00",Elche,Real Madrid,A,17.00,7.00,1.18,SP1,2015-02-22,nan
16,"15,917.00",Ath Bilbao,Real Madrid,D,5.25,4.00,1.62,SP1,2014-02-02,"1,763.01"
17,"26,083.00",Atletico,Granada,H,1.22,6.00,15.00,SP1,2016-04-17,"2,056.90"
18,"16,035.00",Sociedad,Espanol,H,1.75,3.60,4.75,SP1,2014-04-19,"1,796.20"
19,"26,074.00",Sp Gijon,Celta,A,3.10,3.25,2.30,SP1,2016-04-10,"1,652.37"
20,"18,573.00",Ath Bilbao,Malaga,H,1.75,3.60,5.00,SP1,2017-03-05,"1,732.55"
22,"25,332.00",Ath Bilbao,Espanol,D,1.66,3.60,6.00,SP1,2013-03-08,"1,673.45"
23,"25,300.00",Valencia,Sociedad,D,1.83,3.50,4.50,SP1,2013-02-10,"1,813.91"
24,"26,035.00",Sp Gijon,Ath Bilbao,A,4.00,3.30,2.00,SP1,2016-03-06,nan
25,"25,981.00",Vallecano,Las Palmas,H,1.91,3.60,4.00,SP1,2016-02-06,nan
26,"20,592.00",Sevilla,Sociedad,H,2.10,3.79,3.10,SP1,2018-05-04,nan
27,"25,966.00",Levante,Las Palmas,H,2.38,3.10,3.25,SP1,2016-01-25,nan
28,"26,080.00",Eibar,Sociedad,H,2.70,3.25,2.70,SP1,2016-04-16,"1,681.47"
29,"18,507.00",Osasuna,Sevilla,A,6.00,4.33,1.53,SP1,2017-01-22,"1,567.89"
30,"25,918.00",Celta,Ath Bilbao,A,2.38,3.30,2.90,SP1,2015-12-30,"1,784.93"
31,"20,368.00",Real Madrid,Malaga,H,1.08,13.00,21.00,SP1,2017-11-25,nan
...,...,...,...,...,...,...,...,...,...,...
478,"26,016.00",Valencia,Ath Bilbao,A,2.30,3.20,3.30,SP1,2016-02-28,"1,793.87"
479,"15,972.00",Getafe,Granada,D,2.10,3.25,3.50,SP1,2014-03-14,"1,657.34"
480,"15,792.00",Vallecano,Valladolid,A,1.91,3.60,3.80,SP1,2013-10-25,"1,664.99"
481,"25,931.00",Betis,Eibar,A,2.40,3.25,3.10,SP1,2016-01-03,nan
482,"20,333.00",Sociedad,Espanol,D,1.85,3.79,4.00,SP1,2017-10-23,"1,756.60"
483,"20,428.00",Alaves,Sevilla,H,3.25,3.25,2.29,SP1,2018-01-14,"1,643.96"
484,"26,082.00",Las Palmas,Sp Gijon,D,1.95,3.50,4.00,SP1,2016-04-16,"1,715.23"
485,"18,328.00",Celta,Leganes,A,1.65,3.75,5.75,SP1,2016-08-22,"1,780.38"
486,"20,279.00",Alaves,Villarreal,A,3.10,3.10,2.40,SP1,2017-09-17,"1,700.54"
487,"9,782.00",Getafe,La Coruna,H,2.25,3.10,3.60,SP1,2015-04-05,nan
488,"25,123.00",Sociedad,Vallecano,D,1.61,4.00,5.50,SP1,2013-09-25,"1,785.25"
489,"25,960.00",Malaga,Barcelona,A,8.50,5.50,1.33,SP1,2016-01-23,"1,714.73"
490,"25,323.00",Espanol,Valladolid,H,1.80,3.60,4.75,SP1,2013-03-02,nan
491,"25,940.00",Real Madrid,La Coruna,H,1.11,9.00,21.00,SP1,2016-01-09,"2,013.24"
492,"25,334.00",Atletico,Leganes,H,1.45,4.20,10.00,SP1,2013-03-09,nan
493,"16,038.00",Sevilla,Granada,H,1.40,4.50,8.00,SP1,2014-04-20,"1,839.61"
494,"20,295.00",Atletico,Sevilla,H,1.57,4.00,6.50,SP1,2017-09-23,nan
495,"18,529.00",Ath Bilbao,La Coruna,H,1.67,3.60,5.75,SP1,2017-02-11,"1,771.27"
496,"25,928.00",Espanol,Barcelona,D,14.00,7.00,1.20,SP1,2016-01-02,nan
497,"25,832.00",Valencia,Malaga,H,1.62,3.75,6.00,SP1,2015-10-17,"1,846.81"
498,"25,945.00",Sociedad,Valencia,H,2.25,3.30,3.30,SP1,2016-01-10,"1,701.71"
499,"9,764.00",Sevilla,Elche,H,1.40,4.75,8.00,SP1,2015-03-15,"1,849.03"
500,"25,394.00",Celta,Girona,H,2.00,3.75,3.50,SP1,2013-04-20,nan
0,nan,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,"1,574.24"
21,nan,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,"1,526.37"
192,nan,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,"1,508.39"
215,nan,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,"1,577.77"
338,nan,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,"1,577.22"
347,nan,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,"1,500.57"
370,nan,NaN,NaN,NaN,nan,nan,nan,NaN,NaN,"1,507.67"

In [862]:
copy_team_df.dropna(inplace=True)

In [863]:
for key,row in copy_team_df.iterrows():
    
    # substitui o nome "Ath Madrid" do meu df "copy_team_df" por Atletico para ficar como está 
    # no df "elo_df_esp"
    if row['AwayTeam'] == 'Ath Madrid':
        copy_team_df.loc[key,'AwayTeam'] = 'Atletico'
        
    # elimina "La Coruna" do df "copy_team_df" para ficar como está no df "elo_df_esp"
    # lá não tem o La Coruna nem com outro nome
    if row['AwayTeam'] == 'La Coruna':
        copy_team_df.drop(key, inplace=True) # eliminando o La Coruna de copy_team_df
        
    choices = list(elo_df_esp.Club.unique())
    team = process.extract(row['AwayTeam'], choices, limit=2)[0][0] # o célula anterior exemplifica esse "[0][0]"
    team_elo = elo_df_esp[(elo_df_esp['Club'] == team) & ((elo_df_esp['To'] == row['Date']) | (elo_df_esp['From'] == row['Date']))]
    if not team_elo.empty:
        copy_team_df.loc[key,'away_elo'] = team_elo.values[0][4]

In [864]:
copy_team_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 1 to 495
Data columns (total 11 columns):
Unnamed: 0    324 non-null float64
HomeTeam      324 non-null object
AwayTeam      324 non-null object
FTR           324 non-null object
B365H         324 non-null float64
B365D         324 non-null float64
B365A         324 non-null float64
Div           324 non-null object
Date          324 non-null object
home_elo      324 non-null float64
away_elo      302 non-null float64
dtypes: float64(6), object(5)
memory usage: 32.7+ KB

In [865]:
copy_team_df.dropna(inplace=True)

In [866]:
copy_team_df = copy_team_df.reset_index(drop=True)

In [867]:
copy_team_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 11 columns):
Unnamed: 0    293 non-null float64
HomeTeam      293 non-null object
AwayTeam      293 non-null object
FTR           293 non-null object
B365H         293 non-null float64
B365D         293 non-null float64
B365A         293 non-null float64
Div           293 non-null object
Date          293 non-null object
home_elo      293 non-null float64
away_elo      293 non-null float64
dtypes: float64(6), object(5)
memory usage: 19.5+ KB

In [897]:
copy_team_df.drop(['Unnamed: 0'],inplace=True,axis=1) # removendo a coluna "Unnamed: 0"
copy_team_df = copy_team_df.reset_index(drop=True)
copy_team_df

,HomeTeam,AwayTeam,FTR,B365H,B365D,B365A,Div,Date,home_elo,away_elo
0,Malaga,Valencia,H,2.63000000,3.20000000,2.80000000,SP1,2015-02-02,"1,758.66748047","1,843.81066895"
1,Las Palmas,Malaga,H,2.25000000,3.39000000,3.20000000,SP1,2018-02-05,"1,562.04125977","1,624.73046875"
2,Valencia,Malaga,D,1.75000000,3.60000000,5.00000000,SP1,2016-12-04,"1,696.06359863","1,733.72277832"
3,Espanol,Barcelona,A,15.00000000,7.50000000,1.18000000,SP1,2017-04-29,"1,723.52844238","2,004.13488770"
4,Real Madrid,Levante,H,1.08000000,12.00000000,23.00000000,SP1,2015-10-17,"2,050.75122070","1,665.43530273"
5,Celta,Sevilla,H,3.00000000,3.25000000,2.38000000,SP1,2014-03-29,"1,675.47277832","1,809.38574219"
6,Valencia,Girona,A,1.50000000,4.00000000,7.50000000,SP1,2013-11-03,"1,769.35363770","1,559.16467285"
7,Ath Bilbao,Villarreal,H,2.15000000,3.30000000,3.50000000,SP1,2016-11-20,"1,788.67553711","1,779.34814453"
8,Ath Bilbao,Real Madrid,D,5.25000000,4.00000000,1.62000000,SP1,2014-02-02,"1,763.01062012","2,033.36865234"
9,Atletico,Granada,H,1.22000000,6.00000000,15.00000000,SP1,2016-04-17,"2,056.89770508","1,650.02294922"
10,Sp Gijon,Celta,A,3.10000000,3.25000000,2.30000000,SP1,2016-04-10,"1,652.37194824","1,770.13769531"
11,Ath Bilbao,Malaga,H,1.75000000,3.60000000,5.00000000,SP1,2017-03-05,"1,732.55200195","1,666.76110840"
12,Ath Bilbao,Espanol,D,1.66000000,3.60000000,6.00000000,SP1,2013-03-08,"1,673.45263672","1,702.68261719"
13,Valencia,Sociedad,D,1.83000000,3.50000000,4.50000000,SP1,2013-02-10,"1,813.90502930","1,745.43139648"
14,Eibar,Sociedad,H,2.70000000,3.25000000,2.70000000,SP1,2016-04-16,"1,681.46533203","1,758.31774902"
15,Osasuna,Sevilla,A,6.00000000,4.33000000,1.53000000,SP1,2017-01-22,"1,567.88916016","1,859.35314941"
16,Celta,Ath Bilbao,A,2.38000000,3.30000000,2.90000000,SP1,2015-12-30,"1,784.92675781","1,782.03491211"
17,Real Madrid,Sociedad,H,1.10000000,10.00000000,19.00000000,SP1,2015-12-30,"2,015.44616699","1,702.89831543"
18,Sp Gijon,Sevilla,D,3.80000000,3.60000000,1.95000000,SP1,2016-10-29,"1,671.17749023","1,845.62329102"
19,Espanol,Villarreal,D,2.88000000,3.10000000,2.63000000,SP1,2016-10-02,"1,683.52685547","1,804.69177246"
20,Real Madrid,Sevilla,H,1.18000000,7.00000000,13.00000000,SP1,2013-10-30,"2,023.04016113","1,748.97680664"
21,Girona,Eibar,A,2.10000000,3.20000000,3.80000000,SP1,2013-10-06,"1,565.41699219","1,467.81738281"
22,Leganes,Atletico,D,8.50000000,3.60000000,1.53000000,SP1,2016-08-27,"1,652.59338379","2,073.35180664"
23,Barcelona,Sevilla,H,1.20000000,7.00000000,11.00000000,SP1,2014-11-22,"1,996.61999512","1,828.93420410"
24,Celta,Real Madrid,D,6.50000000,4.33000000,1.50000000,SP1,2018-01-07,"1,702.25524902","2,006.65551758"
25,Getafe,Sevilla,H,1.85000000,3.60000000,4.00000000,SP1,2014-05-11,"1,692.52526855","1,847.58605957"
26,Leganes,Espanol,H,2.37000000,2.79000000,3.50000000,SP1,2018-01-28,"1,652.10058594","1,683.21105957"
27,Las Palmas,Granada,H,1.91000000,3.40000000,4.33000000,SP1,2016-08-28,"1,714.88415527","1,683.44934082"
28,Sevilla,Espanol,H,1.75000000,3.60000000,4.50000000,SP1,2013-11-11,"1,743.24133301","1,683.37512207"
29,Granada,Valencia,A,2.88000000,3.20000000,2.55000000,SP1,2016-02-21,"1,625.06457520","1,781.25378418"
...,...,...,...,...,...,...,...,...,...,...
263,Malaga,Getafe,H,1.75000000,3.60000000,5.00000000,SP1,2015-02-28,"1,752.65563965","1,682.76586914"
264,Ath Bilbao,Atletico,A,4.00000000,3.30000000,2.00000000,SP1,2016-04-20,"1,838.94445801","2,056.89770508"
265,Las Palmas,Sociedad,H,2.75000000,3.10000000,2.75000000,SP1,2015-11-06,"1,630.25268555","1,716.02001953"
266,Villarreal,Sociedad,H,1.91000000,3.50000000,4.00000000,SP1,2014-01-13,"1,741.48840332","1,796.28808594"
267,Levante,Villarreal,A,3.40000000,3.40000000,2.10000000,SP1,2014-08-24,"1,739.65234375","1,782.94982910"
268,Malaga,Celta,H,2.10000000,3.30000000,3.50000000,SP1,2014-12-13,"1,765.54016113","1,739.98498535"
269,Osasuna,Eibar,D,3.60000000,3.40000000,2.10000000,SP1,2017-03-13,"1,538.49719238","1,712.29699707"
270,Betis,Osasuna,A,1.80000000,3.50000000,4.50000000,SP1,2014-01-12,"1,644.45751953","1,657.20629883"
271,Sevilla,Osasuna,H,1.50000000,4.20000000,6.50000000,SP1,2013-10-27,"1,744.92089844","1,659.80383301"
272,Leganes,Eibar,A,2.87000000,3.10000000,2.62000000,SP1,2018-02-10,"1,661.99914551","1,716.00109863"
273,Barcelona,Sevilla,H,1.19000000,7.50000000,12.00000000,SP1,2017-11-04,"2,026.31958008","1,784.22900391"
274,Eibar,Ath Bilbao,H,4.00000000,3.10000000,2.10000000,SP1,2015-08-30,"1,637.91687012","1,801.48913574"
275,Getafe,Ath Bilbao,H,2.30000000,3.00000000,3.50000000,SP1,2013-04-07,"1,738.44567871","1,688.05810547"
276,Barcelona,Atletico,D,1.85000000,3.80000000,4.50000000,SP1,2014-05-17,"2,025.35668945","2,060.86816406"
277,Atletico,Espanol,H,1.33000000,4.75000000,9.50000000,SP1,2014-10-19,"2,051.50000000","1,694.88940430"
278,Eibar,Sevilla,D,3.60000000,3.40000000,2.10000000,SP1,2015-10-17,"1,661.60131836","1,864.92614746"
279,Valencia,Ath Bilbao,A,2.30000000,3.20000000,3.30000000,SP1,2016-02-28,"1,793.87353516","1,791.69445801"
280,Getafe,Granada,D,2.10000000,3.25000000,3.50000000,SP1,2014-03-14,"1,657.34313965","1,670.46166992"
281,Vallecano,Valladolid,A,1.91000000,3.60000000,3.80000000,SP1,2013-10-25,"1,664.99230957","1,654.94299316"
282,Sociedad,Espanol,D,1.85000000,3.79000000,4.00000000,SP1,2017-10-23,"1,756.60205078","1,709.90368652"
283,Alaves,Sevilla,H,3.25000000,3.25000000,2.29000000,SP1,2018-01-14,"1,643.95532227","1,753.75524902"
284,Las Palmas,Sp Gijon,D,1.95000000,3.50000000,4.00000000,SP1,2016-04-16,"1,715.22558594","1,651.96691895"
285,Celta,Leganes,A,1.65000000,3.75000000,5.75000000,SP1,2016-08-22,"1,780.38000488","1,641.90563965"
286,Alaves,Villarreal,A,3.10000000,3.10000000,2.40000000,SP1,2017-09-17,"1,700.54150391","1,785.57189941"
287,Sociedad,Vallecano,D,1.61000000,4.00000000,5.50000000,SP1,2013-09-25,"1,785.24572754","1,651.03479004"
288,Malaga,Barcelona,A,8.50000000,5.50000000,1.33000000,SP1,2016-01-23,"1,714.73486328","2,051.81835938"
289,Sevilla,Granada,H,1.40000000,4.50000000,8.00000000,SP1,2014-04-20,"1,839.61450195","1,678.52673340"
290,Valencia,Malaga,H,1.62000000,3.75000000,6.00000000,SP1,2015-10-17,"1,846.81250000","1,711.86145020"
291,Sociedad,Valencia,H,2.25000000,3.30000000,3.30000000,SP1,2016-01-10,"1,701.71203613","1,796.82971191"
292,Sevilla,Elche,H,1.40000000,4.75000000,8.00000000,SP1,2015-03-15,"1,849.03283691","1,663.13195801"

In [899]:
copy_team_df.to_csv('dataset_elo_espanha.csv', sep=';', index=False) # esse index=False é para remover o índice do lado esquerdo